.lojas-petshop {
    min-height: 100vh;
    background-color: #048387;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    margin: 50px;
}

.loja-id {
    background-color: red;
    padding: 100px;
    color: white;   
}

body {
    margin: 0;
    height: 100%;
    margin: 0;
}

.ver-mais-link {
    color: white;
    text-decoration: none;
}

.text-lojas {
    color: black;
    position: relative;
    margin: 0;
}

.text-loja-individual {
    margin: 10px;
}

.lojas {
    margin-inline: 20px;
    display: inline-block;

    border-radius: 20px;
    width: 350px;
}

.lojas-l {

}

.lojaImage-lojas {
    width: 350px;
    height: 260px;
}

.ver-mais {
    position: relative;
    top: 57px;
    border: 0;
    border-radius: 0px 0px 20px 20px;
    cursor: pointer;
}

.lojas:hover {
    border-bottom: 50px solid #FDA94A;
}    

@media only screen and (max-width: 1799px) {

    .lojas {
        margin-bottom: 60px;
        display: inline-block;
        background-color: #B6E0EC;
        border-radius: 20px;
        width: 350px;
        border-bottom: 50px solid #FF8802;
    }    


}