html {
    background-color: white !important;
    text-align: center;
    color: #ffff;
}

.Registration {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 550px;
}

.product-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-box h2 {
    color: black;
}

.button-product button {
    border: 0;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
    padding-inline: 40px;
    margin-top: 30px;
}


.error-message-signup {
    color: rgb(255, 0, 0);
    font-size: 15px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#input-info {
    margin-left: 8px;
    display: flex;
    margin-bottom: 5px;
    width: 320px;
    padding: 11px;
    border-radius: 7px;
    border: 0;
    background-color: #B6E0EC;
}

#birthday {
    margin-left: 8px;
    display: flex;
    margin-bottom: 5px;
    width: 150px;
    padding: 11px;
    border-radius: 7px;
    border: 0;
    background-color: #B6E0EC;
}

#cpf {
    margin-left: 8px;
    display: flex;
    margin-bottom: 5px;
    width: 200px;
    padding: 11px;
    border-radius: 7px;
    border: 0;
    background-color: #B6E0EC;
}

#infos-product {
    text-align: left;
    width: 360px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#input-description {
    color: grey;
    margin-left: 10px;
    position: relative;
    bottom: 5px;
}

.confirmar {
    background-color: #fe972f;
    color: #000000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Baloo 2';
}

.confirmar:hover {
    background-color: #FDA94A
}

.form-group {
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    left: 9px;
    border: none;
    border-radius: 0;
    background-color: #B6E0EC;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    width: 94%;
    border-radius: 8px;
    max-width: 400px;
}

.form-group select::-ms-expand {
    display: none;
}

.form-group:after {
    content: "\25bc";
    font-size: 16px;
    color: #FF8802;
    pointer-events: none;
    position: absolute;
    top: 70%;
    right: 20px;
    transform: translateY(-50%);
}

.form-group select:focus {
    outline: none;
    background-color: #B6E0EC;
}

.form-group select:focus+label,
.form-group select:not(:placeholder-shown)+label {
    transform: translateY(-25px) scale(0.75);
    color: #FF8802;
}

.check-name-category {
    color: black;
}

.check-list {
    border: red;
}