.pedidos-usuario h2 {
    color: black;
    display: flex;
    justify-content: center
}

.pedidos-usuario{
    color: black;
}

.ul-pedidos li {
    list-style: none;
}

.pedidos-usuario .ul-pedidos {
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.pedidos-usuario .ul-pedidos li {
    margin: 20px;
    background-color: #B6E0EC;
    border-radius: 10px;
    border: 1px solid #04ABAB;
    padding: 20px;
    flex-basis: 25%; /* Mostrar apenas de 4 em 4 (25% de 4 = 100%) */
}

.botao-pedido {
    cursor: pointer;
    background-color: #FF8802 ;
    border-radius: 15px;
    width: 200px;
    height: 40px;
    font-family: "Baloo 2";
    margin-top: 45px;
}

.item-pedido img{
    width: 40%;
}