.teste {
    color: black;
}

.btn-confirmar-pedido {
    border: 0;
    color: white;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
    padding-block: 10px;
    padding-inline: 30px;
    margin-top: 30px;
    background-color: black;
}

.btn-confirmar-pedido:hover {
    background-color: #FF8802;
    /* background-color: #04ABAB; */
}

.email-item {
    color: red;
}

.endereco-item {
    color: #04ABAB;;
}