html .carrinho-background{
    color: #ffff;
  align-items: center;
  justify-content: center;
  margin: 0px;
  height: 100vh;
}

.carrinho-background{
    font-weight:bold ;
    text-align: center;
    justify-content: center;
    background-color: #04ABAB !important;
    width: 100%;
    overflow:auto;
}

.carrinho-background .background{
    position: relative;
    top: 20px;
    height: 500px;
    max-width: 85%;
    max-height: 90%;
}

.carrinho-background{
    max-height: 90%;
    height: 510px;
    border-radius: 10px;
    background-color: #048387;
}

.textoCarrinho {
    color: white;
    font-weight: bold !important;
}

.itens {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.list-group-item {
    color: white;
    display:flex;
    font-weight: bold;
    margin-right: 120px;
}

.listaCarrinho {
    display: flex;
    justify-content: center;
}

.endereco {
    display: block;
    justify-content: center;
    margin-top: 24px;
}

.exemplo {
    font-weight: bold;
    margin-top: 17px;
}

.pagamento {
    color: white;
    display: block;
    justify-content: center;
    margin-top: 24px;
}

.botaoBox {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.botaoCancelar {
    background-color: #D9D9D9;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    width: 136px;
    height: 30px;
    font-size: 20px;
}

.botaoConfirmar {
    background-color: #FF8802;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    width: 136px;
    height: 30px;
    font-size: 20px;
}

.input-address{
    width: 350px;
    height: 40px;
    color: white;
}

.img-excluir{
    width: 10px;
    height: 20px;
    margin-left: 5px;
}