html .app-shop-registration {
    color: #ffff;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 100vh;
}

h1 {
    font-size: 60px;
}

.app-shop-registration {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    background-color: #04ABAB;
    width: 100%;
    overflow: auto;
}

.app-shop-registration .shop-registration {
    position: relative;
    top: 20px;
    height: 700px;
    max-width: 85%;
    max-height: 90%;
    margin: 0 auto;
}

.form-shop-registration {
    height: 495px;
    max-height: 100%;
    border-radius: 10px;
    background-color: #048387;
}

.shop-registration {
    margin: 0px;
}

.name-shop-registration {
    position: relative;
    top: 30px;
    text-transform: uppercase;
}

.access-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.access {
    flex-basis: calc(28% - 5px);
}

.access-shop-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.access-shop {
    flex-basis: calc(30% - 0px) !important;
}

input {
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 100%;
    border-radius: 7px;
    border: 0;
    background-color: #B6E0EC;
}


input:focus {
    outline: 0;
}

.save {
    display: flex;
    justify-content: left;
    margin-left: 21%;
}

.save label {
    position: relative;
    bottom: 2px;
    left: 4px;
}

input.enviar.confirmar {
    width: 30.5%;
    position: relative;
    top: 45px;
}

input[type='submit'] {
    color: #ffff;
    font-size: 18px;
    margin: 25px;
    border: 0;
    height: 40px;
    border-radius: 7px;
    background-color: #FF8802;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #fe972f;
}

input[type='checkbox']+label::before {
    content: '';
    position: absolute;
    left: 10px;
    bottom: 10px;
    height: 20px;
    transform: rotate(45deg);
    background-color: red;
}

input[type='checkbox']:checked::after {
    content: '';
    position: absolute;
    width: 12px;
    border-radius: 3px;
    height: 13px;
    background-color: #fe972f;
}

.help-registration {
    position: relative;
    top: 15px;
    cursor: pointer;
}

.shop-registration .clicks {
    position: relative;
    top: 30px;
}

.clicks .enviar:first-of-type {
    position: relative;
    margin-right: 20px;
    width: 100px;
    top: 45px;
    margin: 0px;
}

.botao-estabelecimento-adicionar {
    position: relative;
    bottom: 20px;
    background-color: #FF8802;
    color: #ffff;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin: 0;
    font-family: 'baloo 2';
    font-size: 16px;
}


@media only screen and (max-width: 480px) {
    .form-shop-registration {
        height: 800px;
        max-height: 100%;
        border-radius: 10px;
    }

    .access-shop-inputs {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .access-shop {
        flex-basis: calc(54% - 20px) !important;
    }

    .botao-estabelecimento-adicionar {
        position: relative;
        top: 40px;
        background-color: #FF8802;
        color: #ffff;
        width: 200px;
        height: 40px;
        border-radius: 10px;
        margin: 0;
        font-family: 'baloo 2';
        font-size: 16px;
    }
}

@media only screen and (min-width: 540px) and (max-width: 1024px) {
    .form-shop-registration {
        height: 800px;
        max-height: 100%;
        border-radius: 10px;
    }
}