.services-lojas h1 {
    margin: 0;
    color: #FF8802;
}

.services-lojas p {
    margin-top: 15px;
}

.services-lojas {
    min-height: 100vh;
    color: black;
}

.loja {
    height: 100vh;
}

.services-lojas p {
    font-size: 20px;
}

.loja section {
    border-top: 1px solid #04ABAB;
}

.loja section:last-child {
    height: 44vh;
}

.ul-loja li {
    list-style: none;
    display: inline-table;
    border-right: 1px solid #04ABAB;
    border-left: 1px solid #04ABAB;
    margin: 20px;
    padding: 20px;
}

.ul-loja li img {
    float: right;
}

.ul-loja .paragrafo-vendas {
    overflow: hidden;
}

.ul-loja img {
}


.cifrao {
    font-weight: normal;
    position: relative;
    top: -.5em;
    font-size: 13px;
}

.loja .preco .preco-antigo {
    font-weight: normal;
    text-decoration: line-through;
    font-size: 15px;
    color: #686363
}

.pagamento {
    margin-top: 40px;
    margin-bottom: 0;
}

.loja img {
    width: 150px;
    object-fit: contain;
}

.services-lojas .ul-loja {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap:5px;
    border-radius: 10px;
}

.services-lojas .ul-loja li {
    border-radius: 10px;
    border: 1px solid #04ABAB;
    padding: 20px;
}