html {
    background-color: white !important;
    text-align: center;
    color: #ffff;
}

.Registration {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 550px;
}

.product-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-box h2 {
    color: black;
}

.button-product button {
    border: 0;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
    padding-inline: 40px;
    margin-top: 30px;
}


.error-message-signup {
    color: rgb(255, 0, 0);
    font-size: 15px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#input-info {
    margin-left: 8px;
    display: flex;
    margin-bottom: 5px;
    width: 320px;
    padding: 11px;
    border-radius: 7px;
    border: 0;
    background-color: #B6E0EC;
}

#birthday {
    margin-left: 8px;
    display: flex;
    margin-bottom: 5px;
    width: 150px;
    padding: 11px;
    border-radius: 7px;
    border: 0;
    background-color: #B6E0EC;
}

#cpf {
    margin-left: 8px;
    display: flex;
    margin-bottom: 5px;
    width: 200px;
    padding: 11px;
    border-radius: 7px;
    border: 0;
    background-color: #B6E0EC;
}

#infos-product {
    text-align: left;
    width: 360px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#input-description {
    color: grey;
    margin-left: 10px;
    position: relative;
    bottom: 5px;
}

.confirmar {
    background-color: #fe972f;
    color: #000000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Baloo 2';
}

.confirmar:hover {
    background-color: #FDA94A
}