.App-home {
    height: 100vh;
}
html, body {
}

.search {
    display: none;
}

.categories {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
}

.categories img {
    border-bottom: 3px solid #048387;
    border-radius: 10px;
    height: 80px;
}


.carousel img {
    border-radius:20px;
    width: 240px;
    max-height: 30%;
    height: 200px;
}

.commercial {
    background-color: #B6E0EC;
    height: 80px;
    height: 80px;
}

.img-commercial-animals {
    max-width: 95%;
    width: 60%;
    height: 100px;
}


@media only screen and (max-width: 768px) {
    .search {
        justify-content: center;
    }

    .input-search {
        position: relative;
        top: 20px;
        width: 70%;
        padding-inline: 10px;
        height: 27px;
    }

    .search input::placeholder {
        color: #048387;
        opacity: 50%;
    }

    .business {
        position: relative;
        top: 20px;
    }

    .carousel {
        position: relative;
        top: 60px;
    }

    .commercial {
        display: none;
    }
}

@media only screen and (min-height: 800px) and (max-width: 768px) {
    .carousel {
        position: relative;
        top: 90px;
    }
}

input.input-search-home {
    color: #fff
}

@media only screen and (min-width: 768px) {
    .logo-home {
        display: none;
    }

    .categories {
        display: none;
    }
    
    .section {
        position: relative;
        height: 115vh;
        background-color: #B6E0EC;
    }

    .carousel {
        position: relative;
        cursor: pointer;
    }

    .img-commercial-animals {
        margin-top: 30px;
        height: 260px;
        width: 78.5%;
        border-radius: 10px;
    }

}

.business h4 {
    background-color: #048387;
    margin: 0;
    padding: 4px;
}

.dkjKVr,
.cvyJEp {
    position: relative !important;
}

.rec-carousel {
    max-width: 90%;
}

.cqQwrw {
    background-color: #FDA94A !important;
    box-shadow: #FDA94A 0px 0px 0px 2px !important;
    border: 0 !important;
}

.ereApb {
    background-color: #048387 !important;
    box-shadow: #048387 0px 0px 0px 2px !important;
}

.dkjKVr {
    color: #fff !important;
    background-color: #FDA94A !important;
}


.cvyJEp {
    background-color: #048387 !important;
    color: #fff !important;
}

.nome-loja {  
    position: relative;
    bottom: 60px;
    margin: 0;
    color: #048387;
}