html .App-login   {
  color: #ffff;
  align-items: center;
  justify-content: center;
  margin: 0px;
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 60px;
}

.App-login {
  font-weight:bold ;
  text-align: center;
  justify-content: center;
  background-color: #04ABAB;
  width: 100%;
  overflow:auto;
}

.App-login .login {
  position: relative;
  top: 20px;
  height: 500px;
  max-width: 85%;
  max-height: 90%;
}

.form-login  {
  max-height: 90%;
  height: 510px;
  border-radius: 10px;
  background-color: #048387;
}

.name-login {
  position: relative;
  top: 30px;
  text-transform: uppercase;
}


.acess-inputs {
  position: relative;
  top: 30px;
}

.acess label {
  font-size: 1rem;
  position: absolute;
  margin-top: 20px;
}

input {
  font-weight: bold;
  margin-bottom: 5px;
  max-width: 100%;
  border-radius: 7px;
  border: 0;
  background-color: #B6E0EC;
}

.acess input {
  margin-top: 50px;
  width: 50.5%;
  height: 35px;
  padding-inline: 20px;
}

input:focus {
  outline: 0;
}

.enviar-login {
  width: 54.5%;
  position: relative;
  top: 45px;
}

input[type='submit'] {
  color: #ffff;
  font-size: 18px;
  font-family: 'Baloo 2';
  margin: 25px;
  border: 0;
  height: 40px;
  border-radius: 7px;
  background-color: #FF8802;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #fe972f;
}

input[type='checkbox'] + label::before {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 10px;  
  height: 20px;
  transform: rotate(45deg);
  background-color: red;
}

input[type='checkbox']:checked::after {
  content: '';
  position: absolute;
  width: 12px;
  border-radius: 3px;
  height: 13px;
  background-color: #fe972f;
}

.options {
  position: relative;
  top: 15px;
  cursor: pointer;
}

.login .clicks {
  position: relative;
  top: 30px;
}

.error-message-signin {
  color: black;
  font-size: 14px;
  position: fixed;
  display: flex;
  width: 100%;
  margin-left: 100px;
}