/* .menu {
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    width: 100%;
    height: 10vh;
    right: 0%;
    bottom: 0%;
    border-top: 2px solid #B6E0EC;
    background-color: white;
} */

.menu {
    padding-top: 40px;
    padding-bottom: 40px;
    position: fixed;
    left: 0%;
    top: 92%;
    width: 3em;
    margin-top: -2.5em;
    border-top: 2px solid #B6E0EC;
    padding-inline: 170px;
    background-color: #ffff;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.text {
    color: #048387;
    font-weight: bold;
}

.buttons-menu-home {
    display: flex;
    background: none;
    cursor: pointer;
    color: inherit;
    border: none;
    font: inherit;
    outline: inherit;
    height: 80px;
    width: 15%;
    padding-left: 12px;
}

button {
    background: none;
    border: 0;
    position: relative;
    bottom: 20px;
}


.menu img {
    background-color: white;
    margin-inline: 45px;
    background-clip: padding-box;
    margin-bottom: 4px;
}


@media only screen and (min-width: 768px) {
    .menu {
        display: none;
        /* oculta o menu em telas maiores */
    }
}