.profile-title{
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}

.pic-user {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.form-pic-username {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.input-pic {
    display: none;
    margin-top: 20px;
}

.profile-pic {
    width: 90px !important;
    height: 90px !important;
}

.user-text {
    color: #000000;
    align-self: center;
    margin-top: 30px;
}

.input-username {
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    max-width: 100%;
    font-size: 16px;
    text-align: center;
    color: #000000;
}

.box-buttons {
    margin-top: 50px;
    display: grid;
    justify-content: center;

}

.profile-button {
    margin-top: 20px;
    padding: 10px 60px;
    border-radius: 15px;
    background-color: #FDA94A;
    color: #000000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Baloo 2';
}

.profile-button:hover {
    background-color: #fe972f
}