html .carrinho-background {
    color: black;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 100vh;
}

.carrinho-background {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    width: 100%;

}

.carrinho-background .background {
    position: relative;
    top: 20px;
    height: 500px;
    max-width: 85%;
    max-height: 90%;
}

.carrinho-background {
    max-height: 90%;
    height: 510px;
    overflow: auto;
}

.textoCarrinho {
    color: rgb(0, 0, 0);
    font-weight: bold !important;
}

.itens {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.total-itens {
    text-transform: uppercase;
}

.endereco .input-address {
    padding-left: 10px;
}

.list-group-item {
    color: rgb(0, 0, 0);
    display: flex;
    font-weight: bold;
    margin-right: 120px;
}

.listaCarrinho {
    display: flex;
    justify-content: center;
}

.endereco {
    display: block;
    justify-content: center;
    margin-top: 24px;
}

.exemplo {
    font-weight: bold;
    margin-top: 17px;
}

.pagamento {
    color: rgb(5, 0, 0);
    display: block;
    justify-content: center;
    margin-top: 24px;
}

.botaoBox {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    bottom: 40px;
}

.botaoCancelar {
    background-color: #D9D9D9;
    font-family: 'Baloo 2';
    border-radius: 5px;
    border: none;
    width: 136px;
    height: 40px;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.botaoConfirmar {
    background-color: #FF8802;
    color: #fff;
    font-family: 'Baloo 2';
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.input-address {
    width: 350px;
    height: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.input-number {
    margin-left: 10px;
    width: 50px;
    text-align: center;
}

.input-CEP {
    margin-left: 10px;
    text-align: center;
}

.img-excluir {
    width: 10px;
    height: 20px;
    margin-left: 5px;
}

.carrinho img {
    width: 100%;
}

.produto-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.produto-container img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.produto-texto {
    flex-grow: 1;

}

.uni-prod {
    margin-left: 0;
    margin-right: 200px;
}

.unidade-produto {
    margin-top: 10px;
    margin-left: 40px;
}

.ul-produtos li {
    list-style: none;
}

.imagem-e-unidade {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.decrementar-item,
.incrementar-item {
    color: #ffff;
    padding: 5px 10px;
    border: none;
    background-color: #c6c6c6;
    border-radius: 90%;
    height: 40px;
    width: 42px;
    cursor: pointer;
    margin-right: 10px;
}

.decrementar-item:hover,
.incrementar-item:hover {
    background-color: #FF8802;
}

.etapa {
    border-top: 1px solid #ccc;
}

.cifrao {
    font-weight: normal;
    position: relative;
    top: -.5em;
    font-size: 13px;
}

.loja .preco .preco-antigo {
    font-weight: normal;
    text-decoration: line-through;
    font-size: 15px;
    color: #686363
}

.pagamento {
    margin-top: 40px;
    margin-bottom: 0;
}

.unidade-produto {
    background-color: #FF8802;
    width: 25px;
    height: 25px;
    position: relative;
    border-radius: 70%;
    color: #fff;
}