.pedidos-usuario h2 {
    color: black; 
}

.pedidos-usuario{
    color: black;
}

.ul-pedidos li {
    list-style: none;
}

.pedidos-usuario .ul-pedidos {
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 3fr);
    grid-gap: 25px;
    border-radius: 10px;
}

.pedidos-usuario .ul-pedidos li {
    background-color: #B6E0EC;
    border-radius: 10px;
    border: 1px solid #04ABAB;
    padding: 20px;
}

.botao-pedido {
    cursor: pointer;
    background-color: #FF8802 ;
    border-radius: 15px;
    width: 200px;
    height: 40px;
    font-family: "Baloo 2";
}