.pedidos-usuario h2 {
    color: black; 
}

.pedidos-usuario{
    color: black;
}

.ul-pedidos li {
    list-style: none;
}

.botao-pedido {
    cursor: pointer;
    background-color: #FF8802 ;
    border-radius: 15px;
    width: 200px;
    height: 40px;
    font-family: "Baloo 2";
}